.panel{
	display: flex;
	justify-content: space-around;
}

h1, h1 {
    font-size: 48px;
    font-family: 'Rationale', sans-serif;
    padding-left: 15px;
}

p {
    font-size: 20px;
    font-family: 'Rationale', sans-serif;

}

#header {
    display: flex;
    /* justify-content: center; */
    align-items: baseline; 
}
