#race-finder {
	width: 80%;
}

#race-list-box {
	width: 80%;
	max-height: 540px;
	overflow: auto;
}

 .marathon-container {
	border: 1px solid #dedede;
    padding: 10px;
	margin: 5px 0px;
	box-shadow: 5px 2px 2px #d4d0d0;
}

.marathon-container:hover {
	background-color: #EFEFEF;
} 

#tagsinput {
	padding: 5px;
    width: 100%;
}

div#search-container {
    margin-left: 40px;
    margin-right: 128px;
}