input {
	width: 80%
}

#race-list-box {
	width: 80%;
	max-height: 540px;
	overflow: scroll
}

.marathon-container {
	border: 1px solid #999999;
    padding: 10px;
	margin: 5px 0px;
	box-shadow: 2px 2px 5px #333333;
}

.marathon-container:hover {
	background-color: #EFEFEF;
}