  <section class="hero">
      <div class="overlay">
      </div>
      <div class="heading">
        <h2>Run Asia</h2>
        <h2>See Diversity</h2>
        <!-- <button>Learn More</button> -->
      </div>
  </section>
    
      <section class="icons container-fluid">
        <div class="icon col-lg-3 col-md-3 col-sm-6 col-xs-12">
          <img src="assets/images/lighting.png">
          <div class=textContainer>
            <br>
            <h5>Quick Query</h5>
            <p>view races around the world without refreshing your webbrowser</p>
          </div>
        </div>
        <div class="icon col-lg-3 col-md-3 col-sm-6 col-xs-12">
          <img src="assets/images/holiday.png">
          <div class=textContainer>
          <br>
          <h5>Run with Holiday</h5>
          <p>plan your overseas marathon with local holidays and festivals</p>
          </div>
        </div>
        <div class="icon col-lg-3 col-md-3 col-sm-6 col-xs-12">
          <img src="assets/images/weather.ico">
          <div class=textContainer>
            <br>
            <h5>Choose Good Weather</h5>
            <p>know past weather to choose races you feel most comfortable with </p>
          </div>
        </div>
         <div class="icon col-lg-3 col-md-3 col-sm-6 col-xs-12">
          <img src="assets/images/lighting.png">
          <div class=textContainer>
            <br>
            <h5>Instant</h5>
            <p>view races around the world without refreshing your webbrowser</p>
          </div>
        </div> 
      </section>
